<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-12 mb-5">
    <article class="featured-post">
        <div class="row align-items-center">
            {% if post.image %}
            <div class="col-md-5">
                <div class="featured-post-image">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {% if site.lazyimages == "enabled" %}
                        <img class="lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                        {% else %}
                        <img src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-md-7">
            {% else %}
            <div class="col-12">
            {% endif %}
                <div class="featured-post-content">
                    <div class="featured-post-meta">
                        <span class="featured-badge">Featured</span>
                        <span class="featured-post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
                        {% if post.categories %}
                            {% assign sortedCategories = post.categories | sort %}
                            {% for category in sortedCategories limit:1 %}
                                <span class="featured-post-category">{{ category }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <h2 class="featured-post-title">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    
                    <p class="featured-post-excerpt">{{ post.excerpt | strip_html | truncatewords:25 }}</p>
                    
                    <div class="featured-post-footer">
                        {% if post.author %}
                        <div class="featured-post-author">
                            {% if author.avatar %}
                            <img class="author-thumb-small" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                            {% else %}
                            <img class="author-thumb-small" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=40&d=mm&r=x" alt="{{ author.display_name }}">
                            {% endif %}
                            <span class="author-name">{{ author.display_name }}</span>
                        </div>
                        {% endif %}
                        <div class="featured-post-read-time">
                            {{ post.content | number_of_words | divided_by: 200 | plus: 1 }} min read
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- end post -->